.about {
  .flexContainer {

    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    justify-content: space-between;
    
    @include devices (laptop) {
      flex-direction: row;
    }

    
    img {
      max-height: 800px;
      height: 100%;
      object-fit: cover;

    }

    .txtContainer,
    img {
      width: 100%;
      @include devices (laptop){
        width: 47%;
      }
    }
    
  }
}