.contact {
  .flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .txtContainer {
      min-width: 250px;
      padding-bottom: 30px;
      
      @include devices (laptop) {
        width: 40%;
      }
    }

    .contactLinks {
      width: 150px;
      color: $quinary;
      a:focus,
      a:hover {
        color: $seniary;
      }
      
      i {
        font-size: 1.5rem;
      }
    }

    form{
      display: flex;
      flex-wrap: wrap;

      input {
        height: 2.5rem;
      }

      input, 
      textarea{
        width: 100%;
        margin-bottom: 20px;
        border: none;
        // &:focus,
        // &:hover {
        //   border: 1pc dotted cyan;
        // }
      }

      .submit {
        width: auto;
        height: auto;
      }

      @include devices (laptop) {
        width: 55%;
      }
    }
    
  }

}

