header {
  background-image: url(../assets/heroCompressed.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .txtContainer {
    background-color: $tertiary;
    color: $quaternary;
    width: fit-content;
    padding: 20px;
    margin: 5vh 0 20vh;
    text-align: center;
  }

  h3{
    margin-bottom: 2vh;
  }
  h5 {
    margin-top: 5vh;
  }
}