.navBar {
  position: fixed;
  top: 0;
  background-color: $tertiary;
  z-index: 100;
  width: 100vw;
  height: 50px;
  // padding: 30px;
  color: $quaternary;
  display: flex;
  align-items: center;
  
  .flexContainer {
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  a {
    padding: 10px 20px;
  }
  a:focus,
  a:hover {
    color: $seniary;
  }
}


.laptopNav {
  // visibility: hidden;
  display: none;
  width: 40%;

  .pageLinks {
    display: flex;
  }
}

@include devices (laptop){
  .mobileNav {
    // visibility: hidden;
    display: none;
  }
  .laptopNav {
    // visibility: visible;
    display: block;
  }
}

.slideController {
  font-size: 1.5rem;
}

.slider {
  position: relative;
  
  .columnal {
    background-color: $tertiary;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 8px;
    right: 0;

    li,
    a {
      width: 100%;
    }
  }
}

// .slideController {
//   position: absolute;
//   right: 0;
  
//   @include devices (laptop){
//     display: none;
//   }
// }

// .pageLinks {
//   // position: absolute;
//   top: 0px;

//   @include devices (laptop){
//     // position: relative;
//     // left: calc(50%);
//     // top: 0;

//   }
// }

// .contactLinks {
//   width: 130px;
//   position: absolute;
//   right: -500px;

//   @include devices (laptop){
//     right: 0;
//   }
// }
