.projects {
  h2 {
    text-align: center;
    margin-bottom: 60px;
  }

  ul {
    margin: 20px auto 20px;
  }

  .project{
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    img {
      max-width: 100%;
    }
  }

  .projectLinks {
    display: flex;

    a {
      margin-right: 10px;
    }
  }

  @include devices (laptop) {

    .txtContainer {
      width: 55%;
    }
    img{
      width: 35%;
    }
  }
}