// skipLink Styles
.skipLink {
  background-color: white;
  color: black;
  // font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;

  &:focus {
    left: 0;
    right: 0;
    text-align: center;
  }
}

// BASE STYLES - overwritting defaults
html {
  font-size: 20px;
  background-color: $quaternary;
  color: $primary;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
}

section{
  margin: 10vh 0;
  padding: 0;
}

// h1{
//   color: $primary;
// }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;

  &:hover,
  &:focus {
    color: $quinary;
  }
}

ul {
  list-style: none;
}

button,
.buttonesk {
  background-color: $seniary;
  padding: 10px 40px;
  color: $quaternary;
  border: none;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $quinary;
    color: $quaternary;
  }
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.horizontal {
  display: flex;
  justify-content: space-between;
}