html {
  color: $***;
  font-size: 125%;
}

h1 {
  color: $***;
  @include fontFamilySizeWeight();
}

h2 {
  color: $***;
  @include fontFamilySizeWeight();
}

h3 {
  color: $***;
  @include fontFamilySizeWeight();
}

h4 {
  color: $***;
  @include fontFamilySizeWeight();
}

h5 {
  color: $***;
  @include fontFamilySizeWeight();
}

h6 {
  color: $***;
  @include fontFamilySizeWeight();
}

p 
a 
button 
