html {
  font-size: 125%;
}

h1 {
  @include fontFamilySizeWeight($primaryFont, 36, regular);
  text-transform: uppercase;
  color: $quaternary;
}

h2 {
  @include fontFamilySizeWeight($secondaryFont, 32, 700);
  text-transform: uppercase;
}

h3,
h6,
p {
  // @include fontFamilySizeWeight();
  @include fontFamilySizeWeight($primaryFont, 28, regular);
}

h4 {
  @include fontFamilySizeWeight($secondaryFont, 24, regular);
}

h5,
a, 
button,
.titlesk {
  @include fontFamilySizeWeight($secondaryFont, 20, bold);
  text-transform: uppercase;
}

h6,
p {
//   @include fontFamilySizeWeight();
  font-size: 20px;
}