@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Raleway&display=swap');

// SITE FONTS
$primaryFont: 'Josefin Slab', serif;
$secondaryFont: 'Raleway', sans-serif;

$baseFontSize: 1rem;

// SITE COLOURS
$primary: #14070E;
$secondary: #365C46;
$tertiary: #424B6D;
$quaternary: #F8F4F3;
$quinary: #F7E4DC;
$seniary: #DB9999;
