@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600;700&family=Raleway:wght@400;600;700&display=swap');

// SITE FONTS
$primaryFont: 'Josefin Slab', serif;
$secondaryFont: 'Raleway', sans-serif;

$baseFontSize: 1rem;

// SITE COLOURS
$primary: rgba(20, 7, 14);
$secondary: rgba(20, 46, 31);
$tertiary: rgba(24, 29, 56, 0.7);

$quaternary: rgba(248, 244, 243);

$seniary:rgba(219,153, 153);
$quinary:rgba(102, 20, 34);
