@import url('');
// the link to the font will go in the '' and the css line from the google font will go in the site fonts ***
@import url('');

// SITE FONTS
$primaryFont: ***;
$secondaryFont: ***;

$baseFontSize: 1rem;

// SITE COLOURS
$primary: #;
$secondary: #;
$tertiary: #;
$quaternary: #;
$quinary: #;
